---
title: Home
description: 'Property styling, home staging and organising.'
image: /images/stylish-living-space.jpg
bottom_image: /images/property-styling.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Present your property at its best.</h1>
			<p class="subtext editable">Helping you attract buyer's attention.</p>
			<div class="cta button alt editable"><a href="tel:+61451534315">Call now</a></div>
		</div>
	</div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Leave the styling to us.</h2>
				<p class="editable">Are you planning to sell your home and aiming to attract great potential buyers?</p> 
				<p class="editable">Congratulations, you've come to the right place! Jeya Spencer Styling can help you beautify and decorate your home to attract more of those buyers and make that sale.</p>
				<p class="editable">The main goal of property styling is to grab the buyer's attention and excite a desire to purchase your property. Styling should reflect your target market and the property's sale value.</p>
				<p class="editable">With my simple and affordable approach, we can achieve premium presentation of your property online and in print.</p>
				<p class="editable">I provide services to Brisbane, Redlands and surrounding suburbs.</p>
				<p class="editable">Please explore my website and if you have any questions, please contact us.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/stylish-side-board-mirror.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Consultation</h2>
				<p class="editable">Consultation is the heart of my services. During this process we will discover the way to create an action plan to style your property for sale, for interior decorating or professional organising.</p>
				<p class="editable">If you believe that you just need professional advice on how to present your property, I can offer 2 hours of consultation for $200.</p> 
				<p class="editable">Please keep in mind that it is your responsibility to take notes.</p>
				<p class="editable">If you want me to check your staging work following my advice, I can re-visit your property for $150 for two hours to ensure everything is presentable to open homes standards.</p>

			</div>
			<div class="image">
				<img class="editable" src="/images/jeya-spencer-650x1300.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Vacant Staging</h2>
				<p class="editable">This service is for properties that are unoccupied such tenant-vacated or newly built/renovated display homes</p>
				<p class="editable">Depending on the situation and wishes of the owner or developer, we can either purchase new furniture and accessories or rent in order to style the property. I will discuss this matter during the initial meeting/consultation.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/stylish-living-space-furniture-650x1300.jpeg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Occupied Staging</h2>
				<p class="editable">This service is for home owners who are still living in the property during the selling process/campaign period. I will work with your existing furniture and accessories to make  staging process to be more economical. I do not recommended renting furniture while the property is occupied to avoid additional rental company fees such as damage and cleaning fee.</p>
				<p class="editable">Since living in the staged property can present some challenges, I will provide some tips and tricks on how to keep it tidy before open homes.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/2-bedroom-after.jpeg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Live-in Styling</h2>
				<p class="editable">This is process is for those non-sellers would like to present their property at its best for self-satisfaction, comfort or enjoyment. If home staging is about depersonalisation, this is the opposite of it.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/living-room-after-650x1300-flipped.jpeg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Professional Organising</h2>
				<p class="editable">Are you a busy individuals or family who needs support with organising/decluttering curtain areas of your house such as wardrobe, pantry, bedrooms, living room and kitchen, this service is for you. I can help you fall in love with your space.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/organised.jpeg" alt="Screenshot" />
				<div id="contact"></div>
			</div>
		</div>
	</section>

	{% include contact-form.html %}

	<section class="bottom hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Beautify your space</h2>
				<p class="subtext editable">Share my passion for beautifying living spaces.</p>
				<div class="cta button alt"><a href="#contact">Get started</a></div>
			</div>
		</div>
	</section>
</div>
